html {
        overflow: auto;
        font-family: sans-serif;
        background-color: #d9fff9
}

html,
body,
object {
        margin: 0px;
        padding: 0px;
        height: 100%;
        border: none;
}

iframe,
object {
        display: block;
        width: 100%;
        border: none;
        overflow-y: auto;
        overflow-x: hidden;
}

iframe {
        height: 90%;
}

.header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10%;
        background-color: #009c82;
}

.frametext {
        display: block;
        align-items: center;
        padding-left: 200px;
        padding-top: 100px;
}

a {
        color: #d9fff9;
        text-decoration: none;
        cursor: cell;
        font-weight: 700;
}

h1, h2, h3, h4 {
        color: #00473b;
}

img {
        border-radius: 10px;
}

a:visited {
        color: #d9fff9;
}

a:hover {
        color: #00473b;
        text-shadow: 1px 1px #ccc;
}